<h2>New Test Suite</h2>
<%= labelled_form_for @test_suite, :as => :test_suite, :url => { :controller => :impasse_test_suite, :action => :create } do |f| %>
  <%= render :partial => "form", :locals => {:form => f} %>
  <button type="submit" class="ui-button-submit"><%=l(:button_create)%></button>
<% end %>
<% content_for :sidebar %>